<mat-toolbar color="primary">
  <span>Todo List App</span>
</mat-toolbar>

<div class="formAddTodo">
  <form [formGroup]="formAddTodo">

    <mat-form-field class="example-full-width">
      <mat-label>Ingrese un título</mat-label>
      <input matInput type="text" formControlName="nameTodo"
       placeholder="Ingrese un nombre para el nuevo Todo"/>
    </mat-form-field>


    <button (click)="newTodo()" [disabled]="formAddTodo.invalid">
      Agregar Todo
    </button>
  </form>
</div>


<app-todo-list [todoList]="todoList"></app-todo-list>
