<app-todo-navbar></app-todo-navbar>

<main>
  <form [formGroup]="formAddTodo" class="formAddTodo">

    <div class="wrap-add-input">
      <mat-form-field class="example-full-width">
        <mat-label>Ingrese un título</mat-label>
        <input matInput type="text" formControlName="nameTodo" placeholder="Ingrese un nombre para el nuevo Todo" />
      </mat-form-field>

      <div class="wrap-button">
        <button mat-raised-button color="accent" (click)="newTodo()" [disabled]="formAddTodo.invalid">
          Agregar Todo
        </button>
      </div>
    </div>

  </form>

  <app-todo-list [todoList]="todoList"></app-todo-list>

</main>
