.navbar {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: 64px;
  color: #fff;

  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.0125em;
}

.navbar-primary{
  background-color: #2323b7;
}

.navbar-purple{
  background-color: #7b1fa2;
}
