<div *ngIf="todoSelected.titulo" class="todo__detail">

  <div class="todo__detail--form">
    <form [formGroup]="formAddItem">

      <div class="block__addition">
        <div class="block__addition--input">
          <div class="input__todo">
            <input type="text" formControlName="nameItem" placeholder="Ingrese una tarea" required />
            <label for="nameTodo">Ingrese una tarea</label>
          </div>
        </div>

        <div class="block__addition--button">
          <button class="accent" (click)="addItemsTodo()" [disabled]="formAddItem.invalid">
            Agregar Tarea
          </button>
        </div>
      </div>
    </form>
  </div>

  <section *ngIf="todoSelected.items.length > 0" class="todo__detail--accions">
    <div *ngFor="let item of todoSelected.items; let i = index" class="todo__detail--item">

      <label class="pure-material-checkbox todo__detail--item--description">
        <input type="checkbox" (click)="toggleCompleteItem(i)" [checked]="item.completado">
        <span>{{item.desc}}</span>
      </label>

      <mat-icon class="todo__detail--item--edit" aria-hidden="false" color="accent" aria-label="Edición de la tarea"
        title="Edición de la tarea" fontIcon="edit" (click)="openDialogEdit(i, item.desc)">
      </mat-icon>
      <mat-icon class="todo__detail--item--delete" aria-hidden="false" color="warn" aria-label="Eliminación de la tarea"
        title="Eliminación de la tarea" fontIcon="delete" (click)="openDialogDelete(i, item.desc)">
      </mat-icon>
    </div>
  </section>

</div>
