<div mat-dialog-content class="block__edit--todo">
  <h2>Edición de la tarea</h2>

  <div class="edition--form_todo">
    <form [formGroup]="formEditItem">
      <div class="input__todo">
        <input type="text" formControlName="description" placeholder="Ingrese una tarea" required />
        <label for="nameTodo">Nombre de la tarea</label>
      </div>
    </form>
  </div>

</div>
<div mat-dialog-actions class="block__edit--accions">
  <button class="warn" (click)="onNoClick()">Cancelar</button>
  <button class="primary ml-1" [mat-dialog-close]="formEditItem.get('description')?.value" cdkFocusInitial
    [disabled]="formEditItem.invalid">Actualizar</button>
</div>
