<div mat-dialog-content class="block__edit--todo">
  <h2>Edición de la tarea</h2>

  <div class="formAddItem">
    <form [formGroup]="formEditItem">

      <div class="wrap-add-input">

        <mat-form-field>
          <mat-label>Nombre de la tarea</mat-label>
          <input matInput formControlName="description">
        </mat-form-field>
      </div>

    </form>
  </div>

</div>
<div mat-dialog-actions class="block__edit--accions">
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="formEditItem.get('description')?.value" cdkFocusInitial [disabled]="formEditItem.invalid">Actualizar</button>
</div>
