/* You can add global styles to this file, and also import other style files */
@import './styles/button';
@import './styles/checkbox';
@import './styles/formAdition';
@import './styles/input';
@import './styles/mixins';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgb(48, 48, 48);
}

/* Navbar */

.navbar__todo--spacer {
  flex-grow: 1;
}
